/*Pagina visible*/

body{
    width: auto;
    margin: 0;
    padding: 0;
    }



/*Aplicante*/

.flex{
    display: flex;

}

/*Menu*/

.container{
    background-color: rgb(0, 0, 52);
    width: auto;
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.menu{
    gap: 30px;
    padding-left: 350px;
    

 
}

.menu li{
    list-style: none;
    text-decoration: none;

}

.menu a{
    text-decoration: none;
    color: white;

}


/*Posicionamientos*/

.centrar{
    justify-content: space-around

}

.comprimir{
    justify-content: space-around; /*Distrubuye elementos alrededor*/
    padding-left: 300px;
    padding-right: 300px;
    
}

.item-center{
    align-items: center;
    padding-right: 300px;

}

/*Palabras*/

p{
    color: white;
    
}








