/*Pagina visible*/

body{
    width: auto;
    margin: 0;
    padding: 0;
    }

body div{
    padding-left: 160px;
    padding-right: 200px;
    }


body .menu2{
    padding-right: 400px;
}

/*Aplicante*/

.flex{
    display: flex;

}

/*Menu*/

/*Header1*/

.container{
    background-color: rgb(0, 0, 52);
    width: auto;
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;

}

.menu{
    gap: 10px;
    padding-left: 680px;
}

.menu li{
    text-align: left;
    list-style: none;
    
}

.menu img{
    height: 20px; /*o la altura que desees*/
    width: 30px;
    object-fit: contain; /*evita deformaciones*/
}


/*Header2*/

.container2{
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 100px;
    display: flex;
    min-height: 100%;
    justify-content: center;
}

.menu2{
    gap: 30px;
    align-items: center;
    padding-left:  60px
}

.menu2 img{
    height: 20px; /*o la altura que desees*/
    width: 30px;
    object-fit: contain; /*evita deformaciones*/
}


.menu2 li{
    list-style: none;
    text-decoration: none;

}

.menu2 a{
    text-decoration: none;
    color: rgb(17, 0, 255);

}


.item-center2 img{
    width: 200px;
    align-items: center;

}

/*Posicionamientos*/

.between{
    justify-content: space-between;

}
.centrar{
    justify-content: space-around

}

.centro{
    padding-bottom: 200px;
    padding-top: 200px;
    justify-content: center;
}

/*Palabras*/

p{
    color: white;
    
}

.menu2 h1{
    font-size: 17px;

}

.menu2 h3{
    font-size: 15px;
}

/*imagen-charles*/

section {
    background-image: url(imagenes/imagen/charles.jpg);
    background-size: 2000px;
    background-repeat: no-repeat;
    background-position: center; 
    
}



/*contenido de la pagina*/

.container-charles {
    border: solid;
    width: 1250px;
    height: 400px;
    text-align: left;;
    flex-direction: column;

}





