/*Pagina visible*/

body{
    width: auto;
    margin: 0;
    padding: 0;
    }

/*Aplicante*/

.flex{
    display: flex;

}

/*Menu*/

/*Header1*/

.container{
    background-color: rgb(0, 0, 52);
    width: auto;
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.menu{
    gap: 10px;
    padding-left: 350px;
}

.menu li{
    list-style: none;
    text-decoration: none;

}

.menu img{
    height: 20px; /*o la altura que desees*/
    width: 30px;
    object-fit: contain; /*evita deformaciones*/
}

.item-center{
    align-items: center;
    padding-right: 300px;

}


.comprimir{
    justify-content: space-around; /*Distrubuye elementos alrededor*/
    padding-left: 300px;
    padding-right: 300px;
    
}

/*Header2*/

.container2{
    border: solid;
    background-color: rgb(255, 255, 255);
    width: auto;
    height: 100px;
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.menu2{
    gap: 40px;
    padding-left: 100px;
    align-items: center;
}

.menu2 li{
    list-style: none;
    text-decoration: none;

}

.menu2 a{
    text-decoration: none;
    color: rgb(17, 0, 255);

}

.comprimir2{
    justify-content: space-around; /*Distrubuye elementos alrededor*/
    padding-left: 320px;
    padding-right: 350px;
    
}

.item-center2{
    align-items: center;
    padding-right: 100px;

}

.item-center2 img{
    width: 200px;

}

/*Posicionamientos*/

.centrar{
    justify-content: space-around

}

/*Palabras*/

p{
    color: white;
    
}






